body {
    font-family: sans-serif;
    background-color: burlywood;
}

.link-text {
    color: blueviolet;
    text-decoration: none;
    background-color: navy;
    border: 2px solid navy;
    border-radius:10px;
    padding: 3px;
    box-shadow: 3px 5px 0 0 darkslateblue;
}

.link-text:hover {
    color: dodgerblue;
}

.link-text:focus {
    box-shadow: inset 3px 5px 0 0 darkslateblue;
}

header {
    border: 5px groove gray;
    background-color: crimson;
    padding: 15px;
    height: 50px;
}

nav a {
    margin-top: 15px;
}

h1 {
    color: blueviolet;
    background-color: black;
    border: 3px groove blue;
    border-radius: 5px;
    width: 210px;
}

footer {
    background-color: darkslategray;
    border: 7px groove black;
    height: 120px;
}
.social {
    margin: 15px;
}
